#store-dir=.pnpm-store

                    
#always-auth=true

use-node-version=16.20.0
strict-peer-dependencies=false
auto-install-peers=true
use-lockfile-v6=true
dedupe-peer-dependents=true
save-workspace-protocol=rolling
resolve-peers-from-workspace-root=true